Pillow
tqdm
pandas
matplotlib
fastprogress
opencv-python
scikit-image
mediapy
tifffile
jupyterlab
git+https://github.com/minerharry/gsutilwrap.git
git+https://github.com/minerharry/meta_cell_libraries.git